<!-- Nav -->
<nav class="mi-panel-navegacion">
    <ul class="links">
        <li><a href="index.html">HOME</a></li>
        <li><a href="html-css.html">HTML Y CSS</a></li>
        <li><a href="js-node.html">JS NODE</a></li>
    </ul>
</nav>
