<!-- Nav -->

            <nav class="mi-panel-navegacion">
				<ul class="links">
					<li><a href="/">HOME</a></li>
					<li><a href="/html_css">HTML Y CSS</a></li>
					<li><a href="/Js_node">JS NODE</a></li>
				</ul>
			</nav>
