<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Home</title>
</head>
<body>
    

 {{>header}}
{{>nav}}
 


<h1>CAMIONES DE CARGA Y SUS DERIVADOS </h1>
<h2>CAMIONES Y TRACTOCAMIONES</h2>
<p>
<strong>Los Camiones de Carga</strong>
Muchos nombres se usan indistintamente para referirse a un camión que transporta carga. Aunque todos entienden que te refieres a un camión
cuando utilizas las palabras tracto, tractocamión o remolcador, estos términos en realidad no significan lo mismo que un camión.

Un tractocamión puede funcionar solo sin la necesidad de cargar un remolque. De hecho, es probable que hayas visto tractocamiones en la carretera
sin tener esta parte. La parte trasera, conocida como remolque, posee ruedas pero no tiene un eje delantero ni motor, por lo que no puede moverse 
por sí mismo. Además, el remolque es la parte del tractocamión que contiene la carga que se está transportando.

Un camión es un vehículo no articulado, de motor rígido y pesado con dos conjuntos de ejes, un sistema de dirección, fuerza motriz, solo chasis rígido. 
Los vehículos registrados como un solo vehículo pero que tienen un chasis dividido en dos partes dependientes que están conectados por un pivote
 de dirección permanente también se clasifican como camiones.
</p>
<hr>
<h2>Referencia Grafica</h2>
<div id="seccionPerros">
<div id="perrosfotos">
<img src="../images/vscamion.jpg" alt="">
</div>
</div>


{{>footer}}
</body>
</html>