<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>HOME</title>
</head>
<body>
    
    

 {{>header}}
{{>nav}}
 


<h1 class="centrado">INTRODUCCION AL DESARROLLO WEB </h1>
<h2>QUE ES UN SERVIDOR WEB?</h2>
<p>
<strong>SERVIDOR WEB</strong>

La web es un sistema de información distribuido basado en hipertexto. Los usuarios, mediante un navegador solicitan recursos (normalmente
páginas web) a un servidor web el cliente envía una petición el servidor produce una respuesta (una página HTML) [puede ser de error]
Iniciar sesión en un navegador Web ej Internet Explorer, Mozilla, Netscape,etc Indicar al navegador el URL de la página que se desea 
El navegador pide al DNS la dirección IP correspondiente al servidor que contiene el documento cuyo URL se ha indicado. El navegador abre una 
sesión TCP con la máquina cuya dirección IP se ha obtenido
</p>
<hr>
<h2 class="centrado">EJEMPLO DE SERVIDOR WEB</h2>
<div id="HTML">
<div id="JSNODE">
<img src="../images/servidor.jpg" alt="">
</div>
</div>

<h2>QUE ES HTML?</h2>
<p>
<strong>HTML</strong>
HTML es un lenguaje que permite incluir texto junto a las indicaciones de cómomostrarlo, cómo y dónde incluir imágenes y cómo acceder mediante 
enlaces a otros recursos en Internet (y también posibilita la entrada de datos) El navegador cliente solicita y recibe del servidor web una página
y nos la presenta formateada La página puede “pedir” al servidor imágenes (o otros recursos) que están en archivos distintos de la propia página 
web y son enviados por el servidor y presentados por el cliente junto al texto
</p>
<hr>
<h2 class="centrado">EJEMPLOS DE HTML</h2>
<div id="HTML">
<div id="JSNODE">
<img src="../images/elhtml.jpg" alt="">
</div>
</div>


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-wrap="true" data-interval="5000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../images/p1/s1.jpg" class="d-block w-100" alt="Slide 1">
        </div>
        <div class="carousel-item">
            <img src="../images/p1/s2.jpg" class="d-block w-100" alt="Slide 2">
        </div>
        <div class="carousel-item">
            <img src="../images/p1/s3.jpg" class="d-block w-100" alt="Slide 3">
        <div class="carousel-item">
            <img src="../images/p1/s4.jpg" class="d-block w-100" alt="Slide 4">
        </div>
        <div class="carousel-item">
            <img src="../images/p1/s5.jpg" class="d-block w-100" alt="Slide 5">
        </div>
        <div class="carousel-item">
            <img src="../images/p1/s6.jpg" class="d-block w-100" alt="Slide 6">
        </div>
        <div class="carousel-item">
            <img src="../images/p1/s7.jpg" class="d-block w-100" alt="Slide 7">
        </div>
        <div class="carousel-item">
            <img src="../images/p1/s8.jpg" class="d-block w-100" alt="Slide 8">
        </div>
        </div>  
    </div>
</div>


<div class="video-container">    
<iframe width="560" height="315" src="https://www.youtube.com/embed/cqMfPS8jPys?si=k9hkmdowGW-sIKYE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
</div>

<h2>QUE ES CSS?</h2>
<p>
<strong>CSS</strong>
CSS (Cascading Style Sheets) es un lenguaje de hojas de estilo que se utiliza para describir la presentación de un documento 
HTML o XML. CSS describe cómo se deben mostrar los elementos HTML en la pantalla, en papel o en otros medios. CSS ahorra mucho
 trabajo y tiempo al permitir que los desarrolladores web controlen el diseño de múltiples páginas web al mismo tiempo.
</p>
<hr>
<h2 class="centrado">EJEMPLOS DE CSS</h2>
<div id="HTML">
<div id="JSNODE">
<img src="../images/cssej.jpg" alt="">
<img src="../images/cssej2.jpg" alt="">
</div>
</div>



{{>footer}}
</body>
</html>