<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="../css/estilos.css">

    <title>Trailers</title>
</head>
<body>
     {{>header}}
{{>nav}}

<h1 class="centrado">HTML Y CSS</h1>
<p>HTML es un lenguaje que permite incluir texto junto a las indicaciones de cómo
	mostrarlo, cómo y dónde incluir imágenes y cómo acceder mediante enlaces a
	otros recursos en Internet (y también posibilita la entrada de datos)
	El navegador cliente solicita y recibe del servidor web una página y nos la
	presenta formateada La página puede “pedir” al servidor imágenes (o otros recursos) 
	que están en archivos distintos de la propia página web y son enviados por el servidor y
	presentados por el cliente junto al texto</p>
<img src="" alt="">

<div id="HTML">
	<div id="JSNODE">
<img src="../images/CSHTML.jpg" alt="">
</div>
</div>

<div class="video-container">
    <iframe src="https://umgt.sharepoint.com/sites/SL-DesarrolloWeb/_layouts/15/embed.aspx?UniqueId=136e971b-82e4-4e55-bb00-78a51f8453a2&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create" width="800" height="600" frameborder="0" scrolling="no" allowfullscreen title="Clase 1 - SL - DesarrolloWeb-20230802_090709-Meeting Recording.mp4"></iframe>
</div>

<div class="video-container">
    <iframe src="https://umgt.sharepoint.com/sites/SL-DesarrolloWeb/_layouts/15/embed.aspx?UniqueId=258894de-04bc-4374-82cc-7a4e840783b9&embed=%7B%22ust%22%3Atrue%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create" width="1280" height="720" frameborder="0" scrolling="no" allowfullscreen title="Clase 6 - DesarrolloWeb - ModeloCaja - Tamanio-20230810_161110-Meeting Recording.mp4"></iframe>
</div>


{{>footer}}

</body>
</html>