<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="../css/estilos.css">

    <title>Panels</title>
</head>
<body>
     {{>header}}
{{>nav}}
<h1>DESCRIPCION BREVE DE UN CAMION DE CARGA</h1>

<p>Un camión es un vehículo de motor diseñado principalmente para el transporte de carga. Es de mayor tamaño y capacidad que un
	 automóvil o una furgoneta, y está diseñado para transportar grandes cantidades de mercancías o materiales. 
	Los camiones pueden tener diferentes tamaños y configuraciones según su uso específico. Estos vehículos realizan el transporte terrestre 
	normalmente en ciudad, debido a sus dimensiones limitadas. Cuentan con una estructura formada por una sola pieza, la cabina del conductor 
	y el remolque son parte indivisible de una misma estructura. Debido a su pequeño tamaño, se suelen emplear para transporte urbano y paquetería.

</p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/YBHVqOZKWl8?si=WYRvD5HbgCHVLCuu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


<div id="vahiculos">
<div id="camionesfotos">
<img src="../images/panelcamion.jpg" alt="">
</div>
</div>
{{>footer}}
</body>
</html>