<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="../css/estilos.css">

    <title>Pastor Aleman</title>
</head>
<body>
     {{>header}}
{{>nav}}

<h1>DESCRIPCION BREVE DE UN TRAILER DE CARGA</h1>
<p>Un tráiler es un tipo de vehículo de transporte de mercancías que consta de dos partes: el tractor y el remolque.
El tractor es la cabina del vehículo, donde va el conductor y se encuentra el motor y los mandos de control. 
El remolque, por su parte, es la plataforma que se acopla al tractor y donde se carga la mercancía. Una de las principales 
características de un tráiler es su capacidad de carga, que puede variar según el modelo y la configuración del vehículo.
 Los tráileres pueden ser de dos o tres ejes, lo que influye en la capacidad de carga y en la estabilidad del vehículo.
Otra característica importante es la longitud del vehículo, que puede llegar a los 16 metros en algunos casos. Por esta razón,
 los tráileres suelen ser utilizados en transporte de larga distancia, ya que su capacidad de carga y su longitud les permite 
 transportar grandes cantidades de mercancías.</p>
<img src="" alt="">

<div id="seccionPerros">
<div id="perrosfotos">
<img src="../images/transf.jpg" alt="">
</div>
</div>
{{>footer}}

</body>
</html>